@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.animated-gradient {
  background: linear-gradient(45deg, #4c2a4c, #6c3b5d, #e5007e);
  background-size: 200% 200%;
  animation: gradient 10s ease infinite; /* Animación más rápida */
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Contenedor para el texto enriquecido */
.job-profile-prose {
  color: #4b5563; /* text-gray-600 */
  font-size: 0.875rem; /* text-sm */
  line-height: 1.5;
}

/* Reduce el margen de los párrafos */
.job-profile-prose p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

/* Asegura que las listas mantengan su estilo y sangría */
.job-profile-prose ul,
.job-profile-prose ol {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
  padding-left: 1.25em; /* Restaura la sangría para viñetas/números */
}

/* Ajusta el espacio entre los elementos de la lista */
.job-profile-prose li {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

/* Asegura que los marcadores de lista sean visibles */
.job-profile-prose ul > li {
  list-style-type: disc;
}

.job-profile-prose ol > li {
  list-style-type: decimal;
}